*{box-sizing:border-box}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
.clear{clear:both;}

html, body{
	background:#DDD;
	font-family:'Open Sans', sans-serif;
	font-size:16px;
}
#container{
	padding:10px;
}

#header{
	background:#fff;
	border:1px solid #000;
	padding:10px;
	font-size:30px;
	font-weight:300;
	margin:0 0 10px 0;
	text-align:center;
}
#header .bold{
	font-size:35px;
	font-weight:800;
}
#header .italics{
	font-style: italic;
	font-size:20px;
	color:#666;
}




#information .group{
	border:1px solid #000;
	margin:0 0 10px 0;
	padding: 10px;
	line-height:30px;
}
#information .title{
	border:1px solid #000;
	border-bottom:0;
	background:#fff;
	padding: 10px;
	font-weight: 800;
}
#information .button{
	
}








#form .left{
	width:50%;
	width:calc(50% - 5px);
	float:right;
}
#form .right{
	width:50%;
	width:calc(50% - 5px);
	float:left;
}


#form .collapse{
	border:1px solid #000;
	cursor:pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently */
	padding:10px;
	background: #fff;
}
#form .collapse.collapsed{
	background:#000;
	color:#fff;
}
#form .collapse.collapsed + .form{
	height:0px;
	overflow:hidden;
}
#form .title{
	font-weight:800;
}
#form .right .title:not(:first-of-type){
	margin-top:30px;
}
#form .title + .form{
	border-top:0;
}
#form .form{
	margin:0 0 10px 0;
	border:1px solid #000;
}
#form .form form{
	padding:10px;
}
#form input, button{
	margin:0;
	outline:0;
}
#form label, button, #information .button{
	font-family:'Open Sans', sans-serif;
	font-size:16px;
	display:inline-block;
	border:1px solid #000;
	border-radius:5px;
	background:#fff;
	padding:5px;
	margin:5px;
	cursor:pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently */
}
#form label:hover, button:hover, #form label.checked:hover, #information .button:hover{
	color:#fff;
	background:#000;
}
#form .group{
	margin:0 10px 10px 0;
}
#form .group .group{
	margin:10px;
}
#preset_filters{
	line-height: 37px;
}





#key{
	width:100%;
	border:1px solid #000;
	text-align:center;
}
#key .title{
	font-size: 20px;
    font-weight: 800;
	border-bottom:1px solid #000;
	padding:10px;
	background:#fff;
}
#key .key{
	display:inline-block;
	margin:10px 5px;
	line-height: 25px;
}
#key .square{
	display:inline-block;
	width:25px;
	height:25px;
	border:1px solid #000;
	margin: 0 3px -6px 0;
}






th, td {
	border: 1px solid black;
	padding:10px;
}
.rowspan{
	padding:10px;
}
table{
	width:100%;
	margin:10px 0 0 0;
}
table th, table .th{
	font-size:20px;
	font-weight:800;
	text-align:center;
	vertical-align:middle;
	background:#eee;
}
th[colspan], td[rowspan]{
	background:#fff;
}
tr:first-of-type th:first-of-type{
	background:#fff;
}
th.noborder {
    border: 0;
	background:transparent !important;
}
table .th{
    width:1%;
    white-space:nowrap;
}
table td{
	text-align:center;
}









.person{
	width:75px;
	height:150px;
	position:relative;
	display:inline-block;
	background-color:#fff;
}
.person .layer{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.person .layer-1{
	background:url("/img/cutout.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media only screen and (max-width: 1440px) {
	.person{
		width:50px;
		height:100px;
	}
	
	#form .left,
	#form .right{
		width:100%;
	}
}